<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @appjayan.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @appjayan.score %>
</p>

<%= link_to 'Edit', edit_appjayan_path(@appjayan) %> |
<%= link_to 'Back', appjayans_path %>
